<webapp>
    <servlet>
        <servlet-name>AppServlet</servlet-name>
        <servlet-class>com.revature.AppServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppServlet</servlet-name>
        <url-pattern>/loadbalancer</url-pattern>
    </servlet-mapping>
</webapp>